<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Proyectos</a></li>
            <li><a href="/contact">Contacto</a></li>
        </ul>
    </nav>
    <div class="content">
        <h1>Sobre mi</h1>
        <div class="perfil">
            <div class="info">
                <img src="~/assets/images/Guido_Figueroa_Picture.jpg" alt="Imagen de perfil de guido figueroa">
                <h3>Guido Figueroa</h3>
                <h3>Me encanta codear</h3>
            </div>
            <div class="descripcion">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum doloremque rerum ea, quidem tempora facere magnam dolores impedit eligendi consequuntur pariatur corporis, autem repudiandae qui. Reprehenderit quas assumenda velit id?
            </div>
        </div>
    </div>
</body>
</html>